<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSSFiles/home.css">
    <link rel="stylesheet" href="/static/HtmlFiles/base.html">
    <link rel="stylesheet" href="/static/HtmlFiles/footer.html">
</head>

<body>
    <!-- Nav Bar  -->
    <section class="navbar">

    </section>

    <section id="mid">
        <section id="intro-section">
            <div class="intro-section-text">
                <div>Code with <strong>Krishna</strong></div>
                <div class="small">Lorem ipsum dolor, sit amet ipsum dolor sit amet.</div>
                <div class="small">Lorem ipsum dolor sit amet.</div>
            </div>
        </section>

        <div id="socil-media-home">
            <ul>
                <li id="socil-media">
                    <a href="http://"><i class="fa-brands fa-facebook"></i></a>
                    <a href="http://"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="http://"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="http://"><i class="fa-brands fa-twitter"></i></a>
                    <a href="http://"><i class="fa-brands fa-youtube"></i></a>
                </li>
            </ul>
        </div>

        <section id="corse-section">
            <!-- Content is in JavaScript -->
        </section>

        <section class="coures-dif-container">
            <div class="coures-dif">
                <div class="coures-dif-item">
                    <div class="item-text">
                        <div class="item-text-con">
                            <div class="text-con-title">
                                <div>Our Courses</div>
                                <div class="text-title-line"></div>
                            </div>
                            <div class="text-con-text">
                                <div>Your New</div>
                                <div>Journey Begins </div>
                                <div>Here, Today</div>
                            </div>
                        </div>
                    </div>
                    <div class="image"></div>
                    <div class="text-2">
                        <div class="text-2-title">
                            <div>Explore</div>
                            <div class="text-2-title-line"></div>
                        </div>
                        <div class="text-2-title-con">
                            <div>Devlopment Made Fun</div>
                            <code class="title-con-btn"><a href="http://"> Next </a></code>
                        </div>
                    </div>
                </div>

                <div class="coures-dif-item-2"></div>
                <div class="coures-dif-item"></div>
                <div class="coures-dif-item-2"></div>

            </div>
        </section>

        <section id="about-us-page">
            <section id="about-us">
                <div class="about-text">
                    <div>About Us</div>
                    <div id="line"></div>
                </div>
                <div class="about-us-text">
                    <div>Learning Together </div>
                    <div>From the Comfort </div>
                    <div>of Your Home</div>
                </div>
                <div class="learn-about-us">
                    <a href="http://">Learn More</a>
                </div>
            </section>
        </section>

        <section class="course-update-email">
            <h1 class="course-update-email-h1">SIGN UP FOR QUICK UPDATE</h1>
            <div class="course-update-email-h3">Stay up-to-date with latest course</div>
            <div class="search-course">
                <div class="text">Enter your email*</div>
                <form action="#">
                    <input class='form-control' type='text' id='search-addon' placeholder='Search'>
                    <button class="search-course-button">
                        <i class="fa fa-search" style="font-size: 18px;"></i>
                    </button>
                </form>
            </div>
        </section>
        
        <!-- footer -->
        <section class="footer">
            <footer>
                Copyright @ 2019 KrishnaDanceAcademy.com | All rights reserved
            </footer>
        </section>
    </section>




    <script src="/static/JsFiles/home.js"></script>
    <script src="https://kit.fontawesome.com/5d55eea1c5.js" crossorigin="anonymous"></script>
</body>

</html>